{% extends 'bootstrap.html' %}

{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% load static %}

{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block bootstrap4_content %}
<div class="container-full-bg">
  <section class="jumbotron text-center">
    <!--  <div class="p-3 mb-2 bg-dark text-white"> -->
    <!-- <h1 class="display-4">Job Lens</h1> -->

    <h1> <img src="{% static 'dashboard/logo.png' %}" alt="logo" style="width: 150px;"></h1>
    <p class="lead" style="color:white">Detangling the Job Web</p>
    {% block query %}{% endblock %}
    <!--  </div> -->
  </section>
  {% block tokens %}{% endblock %}
  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
  {% block jobs %}{% endblock %}
</div>
{% endblock %}