{% extends 'bootstrap.html' %}

{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load static %}
<link rel="stylesheet" href="{% static 'mycss.css' %}">


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block bootstrap4_content %}
<div class="container">
    <section class="jumbotron text-center">
        <h1>Job Lens</h1>
        <p class="lead text-muted">Detangling the job web</p>
        {% block query %}{% endblock %}
    </section>
    {% block tokens %}{% endblock %}
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    {% block jobs %}{% endblock %}
</div>
{% endblock %}