{% extends "base.html" %}
{% block query %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#wait").hide();
        $('#jobform').submit(function () {
            $("#wait").show();
            $("#jobs").hide();
        });
    });
    $(window).load(function () {
        alert("hi 2");
    });
</script>

<form class="needs-validation" action="/" method="post" id="jobform">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col">
            <input type="text" class="form-control" id="location" placeholder="Location" name="zipcode"
                value="{{ input.zipcode }}" required></div>
        <div class="col-md-4 themed-grid-col">
            <input type="text" class="form-control" id="jobTitle" placeholder="Job Title" name="query"
                value="{{ input.query }}" required></div>
        <div class="col-md-4 themed-grid-col"><button type="submit" class="btn btn-primary">Submit</button></div>
    </div>
</form>
{% endblock %}
{% block tokens %}
<section>
    <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">Top Skills in Demand!</h4>
        {% for skill in skills %}
        <span class="badge badge-pill badge-secondary">{{ skill.skill }} <span
                class="badge badge-light">{{ skill.value }}</span> </span>
        {% endfor %}
        <hr>
        <p class="mb-0">Based on the 532 jobs matching your criteria</p>
    </div>
</section>
{% endblock %}
{% block jobs %}
<section>
    <div class="album py-5 bg-light">
        <div id="wait">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="row">
                    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="row">
                    <strong>Loading Jobs from Indeed</strong>
                </div>
            </div>
        </div>
        <div class="container" id="jobs">
            <div class="row">
                {% for job in jobs %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text">{{ job.job_title }}</p>
                            <p>{{ job.company_name }}</p>
                            <p>{{ job.city }}</p>
                            <p>{{ job.summary }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-sm btn-outline-secondary" href="{{ job.link }}" target="_blank">View
                                    Job</a>
                                <small class="text-muted">{{ job.date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}