{% extends "base.html" %}
{% block query %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    body {
        background-color: #002F6C !important;
    }

    .jumbotron {
        background-color: #002F6C;
        padding: 1rem 15rem;
        border-radius: 0px;
        margin-bottom: 0rem;
    }

    .display-4 {
        color: white;
    }

    .alert {
        background-color: white !important;

            {
            #border-radius: 0px;
            #
        }

            {
            #border-color: #856404 !important;
            #
        }

            {
            #margin-bottom: 0rem;
            #
        }

            {
            #border: 4px solid !important;
            #
        }
    }

    .badge-secondary {
        color: #ffc107;
        background-color: #004085;
    }

    .badge-pill {
        /* border-radius: 0rem; */
        font-size: 85% !important;
    }

    .badge-light {
        background-color: #b3d7ff;
    }

    .alert-heading {
        text-align: center;
    }

    .bg-light {
        background-color: #002F6C !important;
    }

    .card {
            {
            #background-color: #a4b7cc;
            #
        }
    }

    .col-sm-4 {
        text-align: left;
    }

    .mb-3 {
        margin-left: 110px;
    }


    .progress {
        /* margin: 10px; */
        width: 500px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#wait").hide();
        $('#jobform').submit(function () {
            $("#wait").show();
            $("#jobs").hide();
            $(function () {
                var current_progress = 0;
                var interval = setInterval(function () {
                    current_progress += 5;
                    $("#dynamic")
                        .css("width", current_progress + "%")
                        .attr("aria-valuenow", current_progress)
                        .text(current_progress + "% Complete");
                    if (current_progress >= 100)
                        clearInterval(interval);
                }, 1000);
            });
        });
    });
</script>
<div class="d-flex justify-content-center align-items-center">
    <form class="form-inline needs-validation" action="/" method="post" id="jobform">
        {% csrf_token %}
        <input type="text" class="form-control mr-2" id="location" placeholder="Location" name="zipcode"
            value="{{ input.zipcode }}" required>
        <input type="text" class="form-control mr-2" id="jobTitle" placeholder="Job Title" name="query"
            value="{{ input.query }}" required>
        <button type="submit" class="btn btn-outline-light">Submit</button>
    </form>
</div>
{% endblock %}
{% block tokens %}
<section>
    <div class="row" style="background-color:white">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="alert" role="alert">
                {% if number_of_jobs is not 0 %}<h4 class="alert-heading">Top Skills in Demand!</h4>{% endif %}
                {% for skill in skills %}
                <span class="badge badge-pill badge-secondary">{{ skill.skill }} <span
                        class="badge badge-light">{{ skill.value }}</span> </span>
                {% endfor %}
                <hr>
                <p class="mb-0">Based on the {{ number_of_jobs }} jobs matching your criteria</p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</section>
{% endblock %}
{% block jobs %}
<section>
    <div class="album py-5 bg-light">
        <div id="wait">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="row">
                    <strong style="color: white; padding-right:5px;">Loading Jobs from Indeed</strong>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <!-- <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div> -->
                </div>
                <div class="row" style="padding-top:10px;">
                    <!-- <div id="progress">
                        <span class="progress-text"></span>
                        <div class="progress-bar"></div>
                    </div> -->
                    <div class="progress">
                        <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active"
                            role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <span id="current-progress"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="jobs">
            <div class="row">
                {% for job in jobs %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text mb-1"><b>{{ job.job_title }}</b></p>
                            <p class="mb-1">{{ job.company_name }}</p>
                            <p><i>{{ job.location }}</i></p>
                            <p>{{ job.summary }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-sm btn-outline-secondary" href="{{ job.link }}" target="_blank">View
                                    Job</a>
                                <small class="text-muted">{{ job.date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}